<h1 class="form-builder-heading">FORM BUILDER</h1>
<div class="form-container">
    <div class="input-side">
      <h3>Enter Sentence</h3>
      <input
        type="text"
        [(ngModel)]="inputSentence"
        placeholder="Enter sentence here..."
        class="input-sentence"
      />
      <button (click)="generateForm()" class="generate-btn">Generate Form</button>
  
      <h3>Editable Fields</h3>
      <ul>
        <li *ngFor="let field of fields">
          {{ field.name | titlecase }}
          <button (click)="removeField(field.name)" class="remove-btn">Remove</button>
        </li>
      </ul>
    </div>
  
    <div class="preview-side">
      <h3>Form Preview</h3>
      <form [formGroup]="formGroup">
        <div *ngFor="let field of fields">
          <label [for]="field.name">{{ field.name | titlecase }}</label>
  
          <!-- Handle Different Input Types -->
          <ng-container [ngSwitch]="field.type">
            
            <!-- Text, Email, Tel Inputs -->
            <input
              *ngSwitchCase="'text'"
              [type]="field.type"
              [formControlName]="field.name"
              [id]="field.name"
              [placeholder]="'Enter ' + field.name"
            />
  
            <input
              *ngSwitchCase="'email'"
              [type]="field.type"
              [formControlName]="field.name"
              [id]="field.name"
              [placeholder]="'Enter ' + field.name"
            />
  
            <input
              *ngSwitchCase="'tel'"
              [type]="field.type"
              [formControlName]="field.name"
              [id]="field.name"
              [placeholder]="'Enter ' + field.name"
            />
  
            <!-- Radio Buttons -->
            <div *ngSwitchCase="'radio'" [formGroup]="formGroup">
              <ng-container *ngFor="let option of field.options">
                <input
                  type="radio"
                  [formControlName]="field.name"
                  [value]="option"
                  [id]="field.name + '-' + option"
                />
                <label [for]="field.name + '-' + option">{{ option }}</label>
              </ng-container>
            </div>
  
            <!-- Dropdown (Select) -->
            <select *ngSwitchCase="'dropdown'" [formControlName]="field.name" [id]="field.name">
              <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
            </select>
  
          </ng-container>
  
          <!-- Error Message -->
          <div
            *ngIf="formGroup.controls[field.name].invalid && formGroup.controls[field.name].touched"
            class="error"
          >
            {{ field.name | titlecase }} is required.
          </div>
        </div>
         <!-- Submit Button -->
      <button type="button" (click)="downloadFormData()" class="submit-btn">Submit</button>
      </form>
    </div>
  </div>
  